
<!DOCTYPE html>
<html>
    <head>
        <title>VKCommunicator</title>

    </head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'VKSpam_djg/style.css' %}" />

{% include "VKSpam_djg/navigation.html" %}   <!-- так включаем другой шаблон в этот шаблон-->

<!-- Put this div tag to the place, where Auth block will be
<div id="vk_auth"></div>
<script type="text/javascript">
VK.Widgets.Auth("vk_auth", {width: "200px", authUrl: '/dev/Login'});
</script>
-->


<div>
<form enctype="multipart/form-data" action="{% url 'VKSpam_djg:index' %}" method="post" >
    {% csrf_token %}
     {{ ask_token_form }}
    Получить токен принудительно
    <input type = 'hidden' name = 'take_token' value="True" >
     <input type="submit" value="получить" />
 </form>
</div>
 <div>
    <p> Для взаимодействия с ВК нужен специальный код доступа - токен.
    Если он отсутствует, программа автоматически обратится к ВК для получения токена.
    Далее автоматически откроется новая страница браузера. Строка токена находится в адресной строке открывшейся страницы.
    Нужно скопировать токен полностью и нажать кнопку "Загрузить"
    </p>
 <form enctype="multipart/form-data" action="{% url 'VKSpam_djg:index' %}" method="post" >
     {% csrf_token %}
     {{ form_to_get_user_token }}
     <input type="submit"  value="импортировать токен" />
 </form>

    {% if result_of_hangling_token_string %}
        <ul>
         <p>
             {{ result_of_hangling_token_string }}
         </p>
        </ul>
    {% endif %}
    <p>Написать какую-нибудь умность</p>

    <form enctype="multipart/form-data" action="{% url 'VKSpam_djg:index' %}" method="post">
        {% csrf_token %}
        {{ enter_captcha_form}}
        <input type="submit" value="отправить капчу">
    </form>

    {% if captcha_inf %}
        <ul>
            <h2> {{captcha_inf}} </h2>
        </ul>

    {% endif %}

    <form enctype="multipart/form-data" action="{% url 'VKSpam_djg:index' %}" method="post">
        {% csrf_token %}
        {{ enter_group_id_form }}
        <input type="submit" value="парсить группу"/>
    </form>
    {% if status_for_getting_subscribers %}
         <ul>
             <p>
                 {{ status_for_getting_subscribers }}
             </p>
          </ul>
    {% endif %}

    <form enctype="multipart/form-data" action="{% url 'VKSpam_djg:index' %}" method="post">
        {% csrf_token %}
     {{ do_comment_photo_form.as_p }}
        <input type="submit" value="начать отправку сообщений" />

        {% if status_for_start_of_posting_ava_comment %}
            <ul>
                <h2> {{status_for_start_of_posting_ava_comment}} </h2>
                </ul>
        {% endif %}

        {% if status_for_finish_of_posting_ava_comment %}
            <ul>
                <h2> {{status_for_finish_of_posting_ava_comment}} </h2>
                </ul>
        {% endif %}
    </form>
</div>
<div>

    <form enctype="multipart/form-data" action="{% url 'VKSpam_djg:index' %}" method="post">
        {% csrf_token %}
     {{ do_wall_post_form.as_p }}
        <input type="submit" value="начать постинг на стену" />

        {% if status_for_start_of_wall_post  %}
            <ul>
                <h2> {{status_for_start_of_wall_post}} </h2>
                </ul>
        {% endif %}

        {% if status_for_finish_of_wall_post %}
            <ul>
                <h2> {{status_for_finish_of_wall_post}} </h2>
                </ul>
        {% endif %}
    </form>



    <form enctype="multipart/form-data" action="{% url 'VKSpam_djg:index' %}" method="post">
        {% csrf_token %}
        {{ do_privat_message_form.as_p }}
            <input type="submit" value="начать отправку в личку">
        </form>
    {% if do_privat_message_form %}
        <ul>
            <h2> бла бла </h2>
            </ul>
    {% endif %}

  </div>


{% if error %}
    <ul>
         <h2> {{error}} </h2>
    </ul>
{% endif %}

{% if count_subscribed %}
    <ul>
        <p> Подписано абонентов {{count_subscribed}} </p>
        </ul>
{% endif %}
{% if count_subscribed %}
    <ul>
        <p> Ранее было подписано абонентов {{count_was_subscribed}} </p>
        </ul>
{% endif %}


<div id="body">
	    <div class="content">


    		<div id="left-sidebar">


				    <div class="block">
					<div class="header">Основное</div>
					<div class="block-content">
					<ul>
				    <li>
					<a
					    href="/partner/edit"
						  >Профиль
					</a>
				    </li>
				    <li>
					<a
					    href="/t2userpackages/index"
						  >Пополнение баланса SMS
					</a>
				    </li>
						</ul>
					    </div>
					</div>
				    <div class="block">
					<div class="header">Рассылки</div>
					<div class="block-content">
					<ul>
				    <li class="selected">
					<a
					    href="/singlenotification/send"
						   class="cur">Отправка уведомлений
					</a>
				    </li>
				    <li>
					<a
					    href="/t2distribution/new"
						  >Создать рассылку
					</a>
				    </li>
				    <li>
					<a
					    href="/t2distribution/new_auto/d/smpp"
						  >Создать SMPP рассылку
					</a>
				    </li>
				    <li>
					<a
					    href="/t2distribution/new_auto/d/http"
						  >Создать HTTP рассылку
					</a>
				    </li>
				    <li>
					<a
					    href="/t2distribution/new-wizard"
						  >Создать рассылку из конкструктора
					</a>
				    </li>
				    <li>
					<a
					    href="/t2distribution/new-addressbook"
						  >Создать рассылку из адресной книги
					</a>
				    </li>
				    <li>
					<a
					    href="/t2distribution/index"
						  >Список рассылок
					</a>
				    </li>
				    <li>
					<a
					    href="/blacklist/index"
						  >Черный список абонентов
					</a>
				    </li>
						</ul>
					    </div>
					</div>
				    <div class="block">
					<div class="header">Адресная книга</div>
					<div class="block-content">
					<ul>
				    <li>
					<a
					    href="/addressbookusers/index"
						  >Адресаты
					</a>
				    </li>
						</ul>
					    </div>
					</div>
				    <div class="block">
					<div class="header">Имена отправителя</div>
					<div class="block-content">
					<ul>
				    <li>
					<a
					    href="/partnersendername/index"
						  >Список имен отправителя
					</a>
				    </li>
				    <li>
					<a
					    href="/partnersendername/request"
						  >Добавить имя отправителя
					</a>
				    </li>
						</ul>
					    </div>
					</div>
				    <div class="block">
					<div class="header">Отчеты</div>
					<div class="block-content">
					<ul>
				    <li>
					<a
					    href="/t2reports/payments"
						  >История покупок
					</a>
				    </li>
				    <li>
					<a
					    href="/t2reports/send_history"
						  >История отправок SMS
					</a>
				    </li>
				    <li>
					<a
					    href="/exportfiles/index"
						  >Файлы отчётов
					</a>
				    </li>
						</ul>
					    </div>
					</div>
				    <div class="block">
					<div class="header">Документация и справочники</div>
					<div class="block-content">
					<ul>
				    <li>
					<a
					    href="/manual/index"
						  >Документация
					</a>
				    </li>
				    <li>
					<a
					    href="/errordictonary/list"
						  >Справочник ошибок
					</a>
				    </li>
						</ul>
					    </div>
					</div>
				    <div class="block">
					<div class="header">Техническая поддержка</div>
					<div class="block-content">
					<ul>
				    <li>
					<a
					    href="/techsupport/check_list"
						  >Обратная связь
					</a>
				    </li></ul>



    		</div>
    	    </div>


    	    <!-- End .block -->

    	</div>
		<!-- End #left-sidebar -->
	<div id="content">


	    <div class="header">
		<h1>Отправка уведомлений</h1>
		<div class="breadcrumbs">

<a
	href="/t2distribution/index"
>Список рассылок</a> /
<span>
Отправка постов к аватаркам пользователей</span>


		</div>
	    </div>

	    <div class="main-content roaming-domestic clearfix">
		<div class="text-content">


<p style="text-align: justify;">
					<font style="color:red; font-weight:bold;">
  Внимание!<br /><br />
					</font>
Данный раздел будет полезен при необходимости отправлять сообщения - комменты к авараткам пользователей групп ВК. Для отправки необходимо задать текст сообщения и указать вложения (в сообщение можно вложить 2 аудио файла. Если указать символы {}, то при отправке они будут  автоматически заменены на имя пользователя ВК. Также, нужно указать идентификатор группы из выпадающего списка, пользователям которой будет производиться отправка.
</p>

<p>
Сообщения, отправляемые с использованиям данного раздела могут быть просмотрены в разделе списка сообщений по рассылке: <a href="/distributionmessage/index/id/87622?go=Искать">список сообщений уведомлений</a>.
</p>



<!--div id="tabs">
    <ul style="list-style: none;">
        <li style="background-image:none; padding-left: 0px;"><a href="#tabs-1">Один номер</a></li>
        <li style="background-image:none; padding-left: 0px;"><a href="#tabs-2">Много номеров</a></li>
    </ul>
    <div id="tabs-1">
        tab 1
    </div>
    <div id="tabs-2">
        tab 2
    </div>
</div-->


<table class="search">

	<form action="" method="post">
		<tr>
			<td><b>Номер абонента</b><span style="color:red;">*</span></td>
            <td><textarea rows="5" cols="50"  name="abonent"></textarea><br><span>Форматы: 7**********, 8**********, +7**********, **********. Отдельный номер на отдельной строке.Не более 30 номеров.</span></td>
		</tr>
		<tr>
			<td><b>Имя отправителя</b><span style="color:red;">*</span></td>
			<td>
			    <select name="sender">
			        <option>Выберите имя отправителя</option>
			        			            <option value="Support"  >Support</option>
			        			            <option value="test_allow"  >test_allow</option>
			        			            <option value="TestSol"  >TestSol</option>
			        			            <option value="NewTestAdd"  >NewTestAdd</option>
			        			            <option value="President_"  >President_</option>
			        			            <option value="pay_test"  >pay_test</option>
			        			    </select>
			</td>
		</tr>
		<tr>
			<td><b>Текст сообщения</b><span style="color:red;">*</span></td>
			<td>
				<textarea
				    id="source_text"
    			    onkeyup="$('lengthId').update($('source_text').value.length);calculateNumberOfSMSParts();"
    			    rows="10"
    			    cols="50"
    			    name="text"></textarea><br />
				<span>Текущая длина:
    			<span id="lengthId" style="font-weight: bold;"></span><br />
    			Количество частей SMS:
    			<span id="SMSMsgPartsNumber" style="font-weight: bold;"></span>
    		    </span>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" name="submit" value="Отправить" />
			</td>
		</tr>
	</form>
</table>

<br />
<br />
<br />





