<ul id="navigation">
    <li>
        <a href="=/VKCommunicator/start_campaign"> Настройка рассылок </a>
    </li>
    <li>
        <a href="/VKCommunicator/"> Main Page! </a>
    </li>
    <li>
        <a href="/VKCommunicator/works_with_groups/"> Работа с сообществами </a>
    </li>
    <li>
        <a href="/VKCommunicator/statistics/"> Статистика </a>
    </li>
    <li>
        <a href="/VKCommunicator/distr_to_avas/"> Рассылка по аватаркам </a>
    </li>
    <li>
        <a href="/VKCommunicator/distr_to_walls/"> Рассылка по стенам </a>
    </li>
    <li>
        <a href="/VKCommunicator/distr_to_privat/"> Рассылка в личку</a>
    </li>
    <li>
        <a href="/VKCommunicator/sender_bots/"> Редактирование сендеров </a>
    </li>
    <li>
        <a href="/VKCommunicator/working_with_aim_group"> Работа с целевой группой </a>
    </li>
</ul>
