<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Боты для отправки</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'VKSpam_djg/style.css' %}" />

{% include "VKSpam_djg/navigation.html" %}

<ul>
    <div>
        <form enctype="multipart/form-data" action="{% url 'VKSpam_djg:get_set_of_tokens' %}" method="post">
            {% csrf_token %}
            {{ get_set_of_tokens_form }}
            {{ get_set_of_tokens_form.finish_of_getting_tokens}}
            <input type="hidden" name="ask_set_of_token_btn" value="True">
            <input type="submit" value="Собрать токены">
            </form>
        </div>

    <div>
        <form enctype="multipart/form-data" action="{% url 'VKSpam_djg:add_bots_to_eachother_friends' %}" method="post">
            {% csrf_token %}
            {{ add_bots_in_each_other_friend_form }}
            {{ add_bots_in_each_other_friend_form.finish_of_adding_bots_to_friends }}
            <input type="hidden" name="add_bots_to_eachother_friend_btn" value="True">
            <input type="submit" value="AddToFriedsEachOther">
            </form>
        </div>

{% if bots_senders %}
    <table>
        <tr>
            <th>
                Фамилия
            </th>
            <th>
                Логин ВК
            </th>
            <th>
                Пароль ВК
            </th>
            <th>
                Заблокирован ли ?
            </th>
            <th>
                Авторизоваться!
            </th>
        </tr>
{% for bot in bots_senders %}
        <tr>
        <td> {{bot.surname}} </td>
        <td> {{bot.vk_login}} </td>
        <td> {{bot.vk_password}} </td>
            <td> {{bot.is_blocked }}</td>
            <td>
                <form enctype="multipart/form-data" action="{% url 'VKSpam_djg:bots_senders' %}" method="post" class="autorise">
                {% csrf_token %}
                {{autorisation_form}}
                <input type="hidden" name="autorisation" value={{bot.id}}>
                <input type="submit" value="авторизоваться">
                </form>
            </td>
         </tr>
    {% endfor %}
    </table>
{%endif%}
    </ul>
</body>
</html>